<div class="todo__priority todo__priority_{{task.priority}}">
  {{taskPriorityLabel}}
</div>
<button (click)="completeTask()">complete</button>
<div class="todo__task-body">
  <p class="todo__task-text">{{task.name}}</p>
  <button class="button button_menu" (click)="showControl()"><svg class="icon"><use href="/assets/icons.svg#icon-menu"></use></svg></button>
  <div class="todo__task-control" *ngIf="isControlShown">
    <button class="button button_s" (click)="completeTask()">
      <svg class="icon"><use href="/assets/icons.svg#icon-checkmark"></use></svg>
    </button>
    <button class="button button_s" (click)="showEditForm()">
      <svg class="icon"><use href="/assets/icons.svg#icon-edit"></use></svg>
    </button>
    <button class="button button_s" (click)="removeTask()">
      <svg class="icon"><use href="/assets/icons.svg#icon-delete"></use></svg>
    </button>
    <button class="button button__secondary button_s" (click)="hideControl()">
      <svg class="icon"><use href="/assets/icons.svg#icon-clear"></use></svg>
    </button>
  </div>
</div>
