<div class="task" [class.task__completed]="task.completed">
  <div class="task__header">
    <div class="task__priority task__priority_{{task.priority}}">
      {{task.completed ? "Зроблено" : taskPriorityLabel}}
    </div>
  </div>
  <button (click)="completeTask()" class="button button_primary"><svg class="icon"><use href="./assets/icons.svg#icon-checkmark"></use></svg></button>
  <div class="task__info">
    <p class="task__text">{{task.name}}</p>
    <button class="button button_menu" (click)="showControl()">
      <svg class="icon">
        <use href="./assets/icons.svg#icon-menu"></use>
      </svg>
    </button>
    @if (isControlShown) {
      <div class="task-control">
        <button class="button button_s" (click)="completeTask()">
          <svg class="icon">
            <use href="./assets/icons.svg#icon-checkmark"></use>
          </svg>
        </button>
        <button class="button button_s" (click)="showEditForm()">
          <svg class="icon">
            <use href="./assets/icons.svg#icon-edit"></use>
          </svg>
        </button>
        <button class="button button_s" (click)="removeTask()">
          <svg class="icon">
            <use href="./assets/icons.svg#icon-delete"></use>
          </svg>
        </button>
        <button class="button button_s" (click)="hideControl()">
          <svg class="icon">
            <use href="./assets/icons.svg#icon-clear"></use>
          </svg>
        </button>
      </div>
    }
  </div>
</div>
