.button {
  display: inline-flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  background-color: #000;
  align-items: center;
  color: #fff;
  border-radius: 50%;

  &:hover {
    border-color: var(--accent-color);
  }
}

.button_primary {
  background-color: #fff;
  color: #000;
}

.button_s {
  width: 35px;
  height: 35px;
}

.button_s .icon {
  width: 20px;
  height: 20px;
}

.button_menu {
  width: 30px;
  background-color: transparent;
  box-shadow: none;
  color: #000;
}

.button_menu .icon {
  width: 30px;
}

.button__secondary {
  background-color: #fff;
  color: #000;
}

/*.complete-button {*/
/*  display: flex;*/
/*  cursor: pointer;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  background-color: var(--main-color);*/
/*  color: var(--secondary-color);*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: 50%;*/
/*  border: 4px solid black;*/
/*}*/

.complete-button .icon {
  width: 20px;
  height: 20px;
}
