:root {
  --main-color: #fff;
  --secondary-color: #000;
  --accent-color: #00FF19;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'CygreBlack';
  src: url('./assets/fonts/Cygre-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--secondary-color);
  color: var(--main-color);
  font-family: system-ui, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container__body {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: var(--main-color);
}

.icon {
  width: 30px;
  height: 30px;
  fill: CurrentColor;
  stroke: CurrentColor;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  display: inline-flex;
  align-items: center;
  width: 50px;
  height: 50px;
  justify-content: center;
  color: #fff;
}

.button_primary {
  background-color: #fff;
  color: #000;
}

.button_s {
  width: 35px;
  height: 35px;
}

.button_s .icon {
  width: 20px;
  height: 20px;
}

.button_menu {
  width: 30px;
  background-color: transparent;
  box-shadow: none;
  color: #000;
}

.button_menu .icon {
  /*height: 50px;*/
  width: 30px;
}

.button__secondary {
  background-color: #fff;
  color: #000;
}
