<div class="todo">
  <h1 class="todo__logo"><span class="todo__logo-text">DOIT</span></h1>
  <div class="todo__header">
    <div class="todo__progress">
      {{completedTasks}}/{{tasks.length}}
    </div>
   <div class="todo__header-control">
     <button (click)="removeAllTasks()" class="button button_primary">
       <svg class="icon"><use href="/assets/icons.svg#icon-delete"></use></svg>
     </button>
     <button (click)="showCreateForm()" class="button button_primary">
       <svg class="icon"><use href="/assets/icons.svg#icon-plus"></use></svg>
     </button>
   </div>
  </div>
  <div class="todo__tasks">
    <app-task
      class="todo__task"
      *ngFor="let task of tasks; let i = index"
      [task]="task"
      (removeTaskEmitter)="removeTask(i)"
      (showEditFormEmitter)="showEditForm(i)"
      (completeTaskEmitter)="completeTask(i)"
    ></app-task>
  </div>
  <div class="todo__form-container" *ngIf="isFormShown">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="todo__form">
      <input type="text" formControlName="name" placeholder="Task name" class="todo__input-name">
      <select formControlName="priority">
        <option [value]="option.value" *ngFor="let option of priorities">{{option.name}}</option>
      </select>
      <button class="button button_s"><svg class="icon"><use href="/assets/icons.svg#icon-plus"></use></svg></button>
      <button type="button" (click)="hideForm()" class="button button_s"><svg class="icon"><use href="/assets/icons.svg#icon-clear"></use></svg></button>
    </form>
  </div>
</div>
