.button {
  display: inline-flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 50%;

  &:hover {
    border-color: var(--accent-color);
  }
}

.button_primary {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2), -5px -5px 20px #fff;
}

.button_s {
  width: 35px;
  height: 35px;
}

.button_s .icon {
  width: 20px;
  height: 20px;
}

.button_menu {
  width: 30px;
  background-color: transparent;
  box-shadow: none;
  color: var(--secondary-color);
}

.button_menu .icon {
  width: 30px;
}

.complete-button .icon {
  width: 20px;
  height: 20px;
}
